.phpunit.result.cache
.php_cs.cache
psalm.sonarqube.json
php-cs-fixer.phar
/source/
/var/
/vendor/
/composer.lock
/tests/Codeception/_output/
/tests/Codeception/_support/_generated/
/tests/.env
/tests/report
/resources/node_modules/
/tests/e2e/playwright/.env
/tests/e2e/playwright/node_modules
/tests/e2e/playwright/_generated
/tests/e2e/playwright/_data
/tests/e2e/playwright/_output


