.phpunit.result.cache
.php_cs.cache
psalm.sonarqube.json
php-cs-fixer.phar
/source/
/var/
/vendor/
/composer.lock
/Tests/Codeception/_output/
/Tests/Codeception/_support/_generated/
/Tests/.env
/Tests/report
/resources/node_modules/
