
BASE_URL=https://osc2.oxid.shop/en/home/
PAYPAL_EMAIL=sb-6omgx1009248@personal.example.com
PAYPAL_PASSWORD=v8Q.H9T1

SHOP_USER_EMAIL=playwright@xyz.com
SHOP_USER_PASSWORD=Test12345?
GOOGLEPAY_USER=razvan.zerfas@betterqa.co
GOOGLEPAY_PASSWORD=Ab!qG2F5mB??
