parameters:
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
        - tests
    bootstrap: tests/PhpStan/phpstan-bootstrap.php
    autoload_files:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
        - tests/PhpStan/stubs/UserComponent.stub
