<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         forceCoversAnnotation="false"
         printerClass="PHPUnit\TextUI\ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         verbose="false">

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <exclude>
                <directory suffix=".php">../tests/</directory>
                <directory suffix=".php">../translations/</directory>
                <directory suffix=".php">../views/</directory>
                <directory suffix=".php">../out/</directory>
                <directory suffix=".php">../docs/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>